## files
abbrev_defs
config.el
custom.el
tramp
bookmarks
amx-items
smex-items
.org-id-locations
.mc-lists.el
projectile-bookmarks.eld

## directories
auto-save-list
elpa
eshell
personal
request
savefile
semanticdb
transient
url
games
var
site-lisp
